body{
  overflow-x: hidden;
}

#mainview {
  width: 100%;
  height: 90vh;
}

#error {
  display: none;
  font-size: 120%;
  margin: 0 auto;
  margin-top: 50%;
  border: 2px solid var(--vscode-button-background);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
}

#errortitle {
  background-color: var(--vscode-selection-background);
  font-weight: bold;
  font-size: 150%;
  padding: 8px;
}

#errormsg {
  font-size: 120%;
  color: var(--vscode-errorForeground);
  font-family: var(--vscode-editor-font-family);
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  padding: 10px;
}

button {
  background: none;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: none;
  padding: 6px;
  margin: 6px;
  border-radius: 3px;
  width: 80px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.toggled {
  background-color: var(--vscode-gitDecoration-addedResourceForeground);
}

#infobox {
  display: block;
  font-size: 90%;
  border: 2px solid var(--vscode-button-background);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 8000;
  bottom: 10px;
  right: -400px;
  padding: 0px;
  word-wrap: break-word;
  font-size: 105%;
  max-width: 90%;
  overflow: hidden;
  background-color: var(--vscode-notifications-background);
  transition: all 0.4s ease-in
}

#infotable {
  padding: 5px;
}

#infobox td:first-child {
  font-weight: bold;
  color: var(--vscode-button-background);
}

#infobox tr {
  border-bottom: 2px solid var(--vscode-foreground);
  margin: 15px;
}

#infobox td {
  padding: 5px;
  font-size: 1.1em;
}

#infobox .panel-heading  {
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}

.panel-heading {
  background-color: var(--vscode-selection-background);
  font-size: 130%;
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
  margin: auto;
  vertical-align: middle;
}

#infobox .panel-heading img {
  height: 25px;
  vertical-align: middle;
}